<head>
  <link rel="stylesheet" href="/css/user_login.css">
</head>
<hgroup>

  <h1><strong>Sign Up</strong></h1>
</hgroup>
<form action="/signup" method="POST">
  <div class="group">
    <input type="text" placeholder="Name" name="name"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="email" placeholder="Email" name="username"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="password" placeholder="Password" name="password"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="text" placeholder="Van Make" name="van_make"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="text" placeholder="Van Model" name="van_model"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="year" placeholder="Van Year" name="van_year"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="text" placeholder="Van Wheelbase" name="van_wheelbase"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="text" placeholder="Van Color" name="van_color"><span class="highlight"></span><span class="bar"></span>
  </div>

  <button type="submit" class="button buttonBlue">Sign Up
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
