
<html>
  <head>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div id ="background"
      <div id ="text-overlay">
        <h1><img src="/img/black_white.png" alt="Van Builder Logo"></h1>
        <h1 style="font-family:'Bebas Neue';font-weight:normal;">KEEP TRACK OF THE PARTS FOR YOUR VAN BUILD</h1>
            <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
            <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
      </div>
    </div>
  </body>
</html
