
<html>
  <head>
    <style>
      .btn-pill {
        background-color:black;
        color: white;
      }

      @font-face {
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: normal;
      src: local('Bebas Neue'), url('BebasNeue.woff') format('woff')
      }

      #text-overlay {
        background-color: rgba(50, 50, 50, 0.6);
      }

      #background {
        background: #ccc;
        padding-top: 20vh;
        display: block;
        color: black;
        text-align: center;
        height: 100vh;
      }

      h2 {
        font-family: helvetica;
        letter-spacing:4px;
        font-size: 1em;
      }

      h1 {
        padding-bottom: 20px;
        font-size:3em;
      }
      h1 img {
        width: 200px;

      }
      @media only screen and (max-width: 1006px) {
        h1 {
          font-size: 2.5em;
        }
        h1 img {
          width: 185px;
        }
        .btn-pill {
          font-size: 90%;
        }
      }

      @media only screen and (max-width: 840px) {
        h1 {
          font-size: 2em;
        }
        h1 img {
          width: 175px;
        }
        .btn-pill {
          font-size: 85%;
        }
      }

      @media only screen and (max-width: 674px) {
        h1 {
          font-size: 1.75em;
        }
        h1 img {
          width: 165px;
        }
        .btn-pill {
          font-size: 80%;
        }
      }

      @media only screen and (max-width: 600px) {
        h1 {
          font-size: 1.5em;
        }
        h1 img {
          width: 150px;
        }
        .btn-pill {
          font-size: 75%;
        }
      }
      @media only screen and (max-width: 503px) {
        h1 {
          font-size: 1.3em;
        }
        h1 img {
          width: 140px;
        }
        .btn-pill {
          font-size: 70%;
        }
      }

      @media only screen and (max-width: 436px) {
        h1 {
          font-size: 1em;
        }
        h1 img {
          width: 130px;
        }
        .btn-pill {
          font-size: 65%;
        }
      }
    </style>
  </head>
  <body>
    <div id ="background"
      <div id ="text-overlay">
        <h1><img src="/img/black_white.png" alt="Van Builder Logo"></h1>
        <h1 style="font-family:'Bebas Neue';font-weight:normal;">KEEP TRACK OF THE PARTS FOR YOUR VAN BUILD</h1>
            <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
            <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
      </div>
    </div>
  </body>
</html
